@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Tinos", serif;
}

.glass-effect {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.custom-width {
  width: 145px;
}
